
* {
    margin:0;
    padding:0;
}

body {
    width:95%;
    margin:0 auto;
}
.own-container {
    background: #ebebeb;
}

.vertical-menu {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.vertical-menu a {
    opacity: 0.8;
    font-size: 18px;
    background-color: #d8d4d4;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #908c8c;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
.right-container{
    display: inline-block;
    margin-left: 25px;
}

.top-block a{
    font-size: 18px;
    color: #33b793;
}
.top-block a:hover{
    text-decoration:none;
    color: #23527c;
}

.user_name {
    margin: 0;
}
.login-input{
    border:none;
    background: none;
}
input.login-input:focus {
    outline: 0;
}

.all-team {
    background:#ebebeb;
    border-bottom: 5px solid #914dcf;
}

.wrapper-team {
    width: 960px;
    margin:0 auto;
}
.team {
    position: relative;
    margin-bottom: 45px;
}
.team-article {
    text-align: center;
    top: 82px;
    position: absolute;
    left: 275px;
    word-spacing: 3px;
}
.team-article__h2 {
    font-size: 36px;
    font-family: "NexaBook";
    line-height: 26px;
    color:#717171;
    font-weight: 400;
    margin-bottom: 18px;
}
.team-article__h3 {
    font-size: 14px;
    font-family: "NexaBold";
    line-height: 11px;
    color:#717171;
    font-weight: 100;
}
.team-person {
    padding-top:96px;
    margin-bottom: 38px;
    line-height: 0px;
}
.team-person_block_1,
.team-person_block_2,
.team-person_block_3,
.team-person_block_4 {
    display: inline-block;
    padding-top:80px;
}
.team-person_block_1,
.team-person_block_4 {
    border-top:1px solid #dedede;
}
.block_1__photo,
.block_2__photo,
.block_3__photo,
.block_4__photo {
    position: relative;
    margin-bottom: 15px;
}
.block_1__photo {
    margin-left: 3px;
}
.block_1_photo__a {
    position: absolute;
    bottom: 14px;
    right: 15px;
}
.block_2_photo__a {
    position: absolute;
    bottom: 13px;
    right: 12px;
}
.block_3_photo__a {
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.block_4_photo__a {
    position: absolute;
    bottom: 13px;
    right: 13px;
}
.block_1__article {
    padding-left: 11px;
}
.block_2__article {
    padding-left: 7px;
}
.block_3__article {
    padding-left: 9px;
}
.block_4__article {
    padding-left: 8px;
}
.block_1__article__h4,
.block_2__article__h4,
.block_3__article__h4,
.block_4__article__h4 {
    font-family: "PTSansBold";
    font-size: 18px;
    color:#7b7b7b;
    font-weight: 100;
    margin-bottom: 13px;
    line-height: 12px;
    word-spacing: 2px;
}
.block_1__article__h5,
.block_2__article__h5,
.block_3__article__h5,
.block_4__article__h5 {
    font-family: "PTSansRegular";
    font-size: 14px;
    color:#7b7b7b;
    font-weight: 100;
    line-height: 11px;
    letter-spacing: 0.4px;
}
.block_4__article__h4 {
    padding-left: 4px;
}
.block_4__article__h5 {
    padding-left: 2px;
    letter-spacing: 0.4px;
}
.team-slider {
    margin-left: 445px;
    line-height: 10px;
}
.team-slider_span {
    color:#979797;
    cursor:pointer;

}
.team-slider_span:hover {
    color:#8f33c4;
}
.content {
    font-size: 0px;
}
.content-block_1 {
    width: 460px;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 16px;
    border-bottom: 1px solid #dedede;
    position: relative;
    min-height: 341px;
    background-size: cover;
    background: url("../images/marcelo.jpg") no-repeat center;
}
.content-block_2 {
    background: url("../images/h.jpeg") no-repeat center;
    width: 460px;
    display: inline-block;
    border-bottom: 1px solid #dedede;
    position: relative;
    min-height:340px;
}
.content-block_3 {
    background: url("../images/basketball.jpg") no-repeat center;
    border-bottom: 1px solid #dedede;
}
.content_block_1_h2,
.content_block_2_h2,
.content_block_3_h2 {
    font-size: 30px;
    font-family: "NexaBold";
    color: #252525;
    padding-left: 52px;
    padding-top: 63px;
    margin-bottom: 23px;
    line-height: 21px;
    word-spacing: 4.4px;
}
.content_block_3_h2 {
    word-spacing: 1.5px;
    margin-bottom: 22px;
    padding-top: 73px;
}
.content_block_1_p,
.content_block_2_p,
.content_block_3_p {
    color: #6017a3;
    font-family: "NexaBook";
    font-size: 14px;
    padding-left: 50px;
    margin-bottom: 30px;
    padding-right: 67px;
    line-height: 25px;
}
.content_block_1__p,
.content_block_2__p,
.content_block_3__p {
    color: #949494;
    font-size: 12px;
    font-family: "NexaBook";
    padding-left: 50px;
    margin-bottom: 93px;
    line-height: 22px;
    padding-right: 40px;
}
.content_block_3__p {
    padding-right: 10px;
    padding-bottom: 100px;
    margin-bottom: -7px;
    line-height: 21px;
}
.content_block_3_p {
    line-height: 24px;
    margin-bottom: 33px;
}

.content-block_1__a,
.content-block_2__a {
    position: absolute;
    top:0;
}